.editor--icons {
    display: flex;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    Width: 99px;
    Height: 66px;
    margin-left: 25px;
    /* margin-top: 5px; */
}

.editor--navbar--icons {

    display: flex;
    align-items: center;
    justify-content: center;
}

.cover--icon {
    background-color: #23BFC8;
}

.img-editor-icon {

    Width: 18px;
    Height: 20px;
    margin-top: 25px;
}

.editor--icon--text {
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    /* identical to box height, or 240% */

    text-align: center;

    color: #FFFFFF;
}

.featherblock {
    background: #4E4E4E;
}

.info-icon {
    color: black;
}

.back--cover--text {

    color: #23BFC8;
}

/* ! css for editor book structure */

.book--Structure--section {

    background: #F3F3F3;
    width: 259px;
    height: 895px;
}

.book--structure--pane {
    background: rgba(217, 158, 130, 0.4);
    width: 259px;
    height: 83px;
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    align-items: center;
    justify-content: space-around;

    color: #4E4E4E;
}

.editor {
    display: flex;
}

.penIcon {
    Width: 16px;
    Height: 19.6px;
    /* background: #4E4E4E; */
    margin-left: 4px;
}

.upperText--editor {
    display: flex;
    margin-left: 36px;
    margin-top: 36px;
    align-items: center;
}

.bookName {

    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    /* identical to box height, or 80% */
    color: #333333;
}

.chapterTitlegrayline {
    margin-bottom: 45px;
    margin-left: 38px;
}

.titleBook {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    margin-left: 38px;

    color: #BCBCBC;
}